.container {
    border: 5px solid rgb(29, 150, 187);
    height: 710px;
    width: 710px;
    margin: 2% 30% 2% 30%;
    display: table;
}

img {
    border: solid 5px rgb(85, 231, 129);
    width: 200px;
    height: 200px;
}
.imagen2{
    position:absolute;
    margin-left: -5%;
    bottom: 59%;
}
.imagen3 {
    position: absolute;
    margin-left: 1%;
    bottom: 45%;
}
.imagen4 {
    position: absolute;
    margin-left: 7%;
    bottom: 31%;
}
.imagen5 {
    position: absolute;
    margin-left: 13%;
    bottom: 18%;
}

img:hover~img:nth-child(n) {
    visibility: hidden;
}
img:hover {
    width: 210px;
    height: 210px;
    border: solid 10px blueviolet;
}
 